<div class="comment">
  <p>
    <%= comment.posted_at %>
    <b><%= comment.user.try :username or 'Anonymous' %></b>
  </p>
  <p class="rest-in-place"
     data-object="comment"
     data-url="<%= article_comment_path @article, comment %>"
     data-attribute="content">
    <%= comment.content %>
  </p>
</div>
<hr>